.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.slider-2 {
  display: none;
}
.guarantee {
  display: none;
}
.credit {
  display: none;
}